@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
/* font-family: 'Metal Mania'; */
@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');
/* font-family: 'Tillana', cursive; */



body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(56, 26, 98, 1) 3%, rgba(98, 26, 41, 1) 36%, rgba(92, 26, 49, 1) 64%, rgba(56, 26, 98, 1) 100%);
}

header {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 83%, rgba(89,89,89,0.8939950980392157) 100%, rgba(45,45,45,1) 100%, rgba(255,255,255,1) 100%);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px inset #A48F94;
}

h1 {
    margin: 0;
    padding: 1rem;
    font-family: 'Metal Mania';
    color: white;
    text-align: center;
    font-size: 3.3rem;
}

.comics {
    height: 7rem;
    width: auto;
    margin-right: 30px;
}

@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    h1 {
        font-size: 2rem;
    }

    .comics {
        height: auto;
        width: 50%;
        margin: 0 auto;
    }
}


#infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#infos>.card>img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

#infos>div:nth-child(1)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

#infos>div:nth-child(2)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}

#infos>div:nth-child(3)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    
}

#infos>div:nth-child(4)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}

#infos>div:nth-child(5)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    
}

#infos>div:nth-child(6)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}

#infos>div:nth-child(7)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;

}

#infos>div:nth-child(8)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}

#infos>div:nth-child(9)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;

}

#infos>div:nth-child(10)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;

}

#infos>div:nth-child(11)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;

}

#infos>div:nth-child(12)>img.logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}


.card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: auto;
    border: 5px ridge #A48F94;
    padding: 1rem;
    margin: 2rem;
    padding-bottom: 0.3rem;
    background: linear-gradient(0deg, rgba(80, 45, 128, 0.9051995798319328) 0%, rgba(127, 44, 61, 0.8295693277310925) 67%);
}


.card:hover {
    background-color: #BFADEE;
}

#infos>div:nth-child(1)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
}

#infos>div:nth-child(2)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(3)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(4)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(5)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(6)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(7)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(8)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(9)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(10)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(11)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

#infos>div:nth-child(12)>p:nth-child(2) {
    font-family: 'Tillana', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;

}

p {
    font-family: 'Tillana', cursive;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

#infos > div:nth-child(1) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(2) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(3) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(4) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(5) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(6) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(7) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(8) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(9) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(10) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(11) > img:nth-child(3) {
    border-radius: 10px;
}

#infos > div:nth-child(12) > img:nth-child(3) {
    border-radius: 10px;
}

