#infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#infos>.card>img {
    width: 100%;
    height: auto;
}

#infos > div:nth-child(1) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(2) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(3) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(4) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(5) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(6) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(7) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(8) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(9) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(9) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(10) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(11) > img.logo {
    width: 50%;
    height: auto;
}

#infos > div:nth-child(12) > img.logo {
    width: 50%;
    height: auto;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 2rem;
    background: linear-gradient(0deg, rgba(105,38,228,1) 0%, rgba(231,253,45,1) 61%);
}